@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Averia Sans Libre, Helvetica, Arial, sans-serif;
    line-height: 1.1;
}

a {
    color: inherit;
    text-decoration: none;
}
